.project-card {
    --card-bg-mix: color-mix(var(--black-94) 20%, var(--project-accent));
    border-radius: .75em;
    box-sizing: border-box;
    display: grid;
    gap: .5em .5em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1.5em auto auto auto;
    margin: auto;
    width: 100%;
    
    transition: background 100ms, box-shadow 100ms;
}

.project-card:hover {
    background: var(--card-bg-mix);
    box-shadow: 0 0 0 1em var(--card-bg-mix);
}

.project-card:not(#eukalyptus):hover .project-thumb {
    transform: rotate3d(1, 0, 0, 180deg);
    visibility: hidden;
}

.project-card:hover .project-desc {
    outline-color: var(--card-bg-mix);
    transform: rotate3d(1, 0, 0, 0deg);
    visibility: visible;
}

.project-thumb {
    aspect-ratio: 2;
    background: var(--project-bg);
    border-radius: .75em;
    cursor: pointer;
    grid-column: 1/4;
    grid-row: 2;
    height: auto;
    position: relative;
    
    transition: transform 300ms 100ms, visibility 0ms 250ms;
}

a img, a span {
    margin: 1px;
    vertical-align: middle;
}

.project-title {
    align-content: end;
    color: white;
    font-size: 1.5em;
    grid-column: 1/4;
    text-align: center;
}

.project-tags {
    color: var(--white-80);
    display: flex;
    flex-wrap: wrap;
    font-size: .75em;
    font-variant: small-caps;
    gap: .5em 1em;
    grid-column: 1/4;
    list-style-type: none;
    justify-self: center;
}

.project-desc {
    align-content: center;
    aspect-ratio: 2;
    background: var(--card-bg-mix);
    border-radius: .75em;
    box-sizing: border-box;
    grid-column: 1/4;
    grid-row: 2;
    line-height: 1.625;
    outline: 1px solid var(--black-87);
    overflow-y: auto;
    padding: .75em;
    visibility: hidden;
    z-index: 99;
    
    transform: rotate3d(1, 0, 0, 180deg);
    transition: transform 300ms 100ms, visibility 0ms 250ms, outline-color 100ms 300ms;
}

.ref {
    background: white;
    border-radius: .75em;
    color: var(--black-87);
    font-family: monospace;
    font-variant: small-caps;
    font-weight: bold;
    text-align: right;
}

.info-ref > span {
    border: 3px solid;
    border-radius: 50%;
    box-sizing: border-box;
    color: black;
    display: inline-block;
    height: 1.5em;
    font-variant: normal;
    text-align: center;
    width: 1.5em;
}

.ref > img, .ref > span {
    margin-left: .25em;
}

#anlaute {
    --project-accent: #ff4040;
    --project-bg: #f0f0f0 url('/anlaute/assets/bg.svg') repeat center/1.5em;
}