:root {
    --black-94: #101010;
    --black-87: #202020;
    --euka-light: #80c080;
    --white-95: #f2f2f2;
    --white-90: #e6e6e6;
    --white-80: #ccc;
    --white-67: #aaa;

    --base-font-size: 16px;
    
    --cards-per-row: 4;
    --card-gap: 5vw 3vw;
    
    --project-accent: var(--black-87);
}

::selection {
    background-color: var(--euka-light);
    color: var(--black-94);
}

::-webkit-scrollbar {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--white-67);
}

* {
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    scrollbar-color: var(--white-67) var(--black-87);
    text-decoration: none;
}

body {
    background: var(--black-94);
    color: var(--white-90);
    font: var(--base-font-size)/1 Roboto, Arial, Sans-Serif;
}

main {
    display: grid;
    gap: var(--card-gap);
    grid-template-columns: repeat(var(--cards-per-row), 1fr);
    overflow-y: auto;
    padding: 3vw;
}

p:not(:first-of-type) {
    margin-top: 1em;
}

#eukalyptus .project-tags {
    grid-row: 3;
}

#eukalyptus .repo-ref {
    grid-column: 3;
    grid-row: 4;
}

@media screen AND (min-width: 3440px) {
    :root{
        --cards-per-row: 6;
    }
}

@media screen AND (min-width: 2560px) {
    :root{
        --cards-per-row: 5;
    }
}

@media screen AND (max-width: 1679px) {
    :root{
        --cards-per-row: 3;
    }
}

@media screen AND (max-width: 1023px) {
    :root{
        --cards-per-row: 2;
    }
}

@media screen AND (max-width: 899px) {
    :root{
        --cards-per-row: 1;
        --card-gap: 20vw 5vw;
    }
}